:root {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: clamp(0.75rem, -58.042rem + 261.3vw, 1.25rem);
    line-height: 1.42857143;
    color: #696973;
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    text-decoration: none;
}

h1.page-title {
    margin: 0 auto;
      margin-bottom: 0px;
    margin-bottom: 2rem;
    width: 100%;
    max-width: 1110px;
    text-align: center;
    text-transform: uppercase;
    color: #696973;
}

.adverts-container {
    display: flex;
    max-width: 1110px;
    width: 98%;
    margin: 0 auto;
}

.adverts-container > .adverts {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.adverts-container > .adverts > .advert {
    width: calc(33.333% - 20px);
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-bottom: 0.5rem;
    color: black;
}

.adverts-container > .adverts > .advert > article {
    padding: 0.5rem;
    background-color: #F2F2F2;
    width: 100%;
    border: 1px black solid;
}

.adverts-container > .adverts > .advert > article > .advert-title:hover {
    text-decoration: underline;
}

.adverts-container > .adverts > .advert:hover > article,
.adverts-container > .adverts > .advert > article:hover > .advert-date,
.adverts-container > .adverts > .advert > article:hover > .advert-title {
    color: black;
    background-color: #ff4949;
}

.adverts-container > .adverts > .advert > article > .advert-date {
    color: #696973;
    font-size: clamp(0.6rem, 0.5325rem + 0.3vw, 0.9rem);
}

.adverts-container > .adverts > .advert > article > .advert-title {
    color: #ff4949;
}

.adverts-container > .adverts > .advert > article > .advert-tags > a {
    color: black;
    font-size: clamp(0.5rem, 0.455rem + 0.2vw, 0.75rem);
}

/* X-Small devices (portrait phones, less than 576px) AND Small devices (landscape phones, 576px and up)*/
@media (max-width: 767px){
    .adverts-container > .adverts {
        margin: 0 auto;
        flex-direction: column;
    }

    .adverts-container > .adverts {
        align-items: center;
    }

    .adverts-container > .adverts > .advert {
        width: 80%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .adverts-container {
        justify-content: center;
    }

    .adverts-container > .adverts {
        width: 80%;
    }
}

/* Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... } */

/* X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... } */


/* --------------------- */
/* ADVERT MENU STYLING */
/* --------------------- */
.advert-menu-container {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.advert-menu-container .advert-menu {
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.advert-menu-container .advert-menu .advert-menu-option {
    text-decoration: underline;
    color: #ff4949;
}

.advert-menu-container .advert-menu .advert-menu-option a {
    color: #ff4949;
}

/* X-Small devices (portrait phones, less than 576px) AND Small devices (landscape phones, 576px and up)*/
@media (max-width: 767px){
    .advert-menu-container .advert-menu {
        flex-direction: column;
        align-items: center;
    }
}

/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... } */

/* Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... } */

/* X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... } */



